# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Terraform crash logs
crash.log

# Terraform hidden folders
.terraform/
.terraform.lock.hcl

# Local environment files
*.tfvars
*.tfvars.json

# Key files or credentials
*.pem
*.key
*.crt

# Python virtual env (if used)
venv/
__pycache__/

# System or editor files
.DS_Store
*.swp
*.swo
*.bak
