name: Deploy Flask App to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build image
      run: docker build -t "${{ secrets.DOCKER_IMAGE }}:latest" ./app

    - name: Push image
      run: docker push "${{ secrets.DOCKER_IMAGE }}:latest"

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull "${{ secrets.DOCKER_IMAGE }}:latest"
          docker stop flaskapp || true
          docker rm flaskapp || true
          docker run -d -p 80:80 --name flaskapp "${{ secrets.DOCKER_IMAGE }}:latest"
